@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

:root {
  /* Cor de fundo */
  --cor0: #000000;
  --cor1: #ffffff;
  --cor2: #f1ecec3b;

  /* Fontes */
  --fonte-h1: "Passion One", serif;
  --fonte-p: "Sriracha", serif;
  --fonte-verdana: "Verdana", Geneva, Tahoma, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  
}

body {
  background-color: var(--cor1);
}

header {
  background-color: var(--cor0);
  color: var(--cor1);
  text-align: center;
  padding: 50px 10px;
}

header h1 {
  font-family: var(--fonte-h1);
  font-size: 50px;
}

header p {
  font-family: var(--fonte-verdana);
  text-align: center;
}

header p a{
  text-decoration: none;
  color: var(--cor1);
}

a:hover{
  text-decoration: underline;
}

.main-content {
  flex: 1;
}

#intro {
  font-size: 70px;
}

#verdana-bold {
  font-family: var(--fonte-verdana);
  color: var(--cor1);
}

#bold-verdana {
  font-family: var(--fonte-verdana);
  color: var(--cor1);
  font-weight: 900;
}

.fundo-white {
  background-color: var(--cor2);
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.caixa-div {
  width: 350px;
  margin: 30px;
}

p {
  font-family: var(--fonte-p);
  line-height: 2em;
  padding-left: 30px;
  font-family: var(--fonte-p);
  font-size: 1.4em;
}

.div-beijarflor {
  background-image: url(../img/pexels-teckhengwang-117139.jpg);
  height: auto;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 7px 7px 13px 0px rgba(0, 0, 0, 0.473);
}

.caixa-div2 {
  width: 320px;
  margin: 30px;
  background-color: rgba(0, 0, 0, 0.39);
  color: var(--cor1);

}

.div-livro {
  background-image: url(../img/Livros\ Velhos\ Livro\ Velho\ -\ Foto\ gratuita\ no\ Pixabay.jpg);
  height: auto;
  padding: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 7px 7px 13px 0px rgba(0, 0, 0, 0.473);
}

footer {
  background-color: var(--cor0);
  color: var(--cor1);
  font-size: 14px;
  width: 100%;
  text-align: center;
  
}
  

footer p{
  text-align: center;
  font-family: var(--fonte-verdana);
}

footer p a{
  text-decoration: none;
  color: var(--cor1);
  font-weight: 900;
}
